[branch "gvim74.win32"]
    merge = refs/heads/gvim74.win32
    remote = origin
[branch "base"]
    merge = refs/heads/base
    remote = origin
[core]
    autocrlf = false
    # autocrlf = input
    bare = false
    # filemode = false
    logallrefupdates = true
    repositoryformatversion = 0
[diff]
    algorithm = histogram
[receive]
    denyCurrentBranch = warn
[remote "origin"]
    fetch = +refs/heads/*:refs/remotes/origin/*
    url = https://github.com/kaizhu256/vim
[remote "upstream"]
    fetch = +refs/heads/*:refs/remotes/upstream/*
    url = https://github.com/vim/vim
